body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
}

nav{
    display: flex;
    flex-direction: row;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 1em;
}

main {
    padding: 2em;
}

.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}


.form-logout {
    display: inline;
}

.form-logout-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
