{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Интернет-мага камапуля ежи</h1>
<p>Хороший товар брать дорогой человек</p>

<h2>Ищешь</h2>
<form action="{% url 'search_result' %}" method="get">
    <input type="text" name="q" placeholder="Искать штука">
    <button type="submit">Вай давай найди уже</button>
</form>

<h2>Новый товар купить не пожалеешь</h2>
{% if latest_services %}
    <ul>
        {% for service in latest_services %}
        <li>
            <h3><a href="{% url 'service_detail' service.id %}">{{ service.name }}</a></h3>
            {% if service.image %}
                <img src="{{ service.image.url }}" alt="{{ service.name }}" width="100">
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Нэт ещё товар</p>
{% endif %}
{% endblock %}