<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Интернет-мага камапуля ежи{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Моя прелесть</a>
            <a href="{% url 'service_list' %}">Штучки</a>
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">Крутой чел</a>
                <form action="{% url 'logout' %}" method="post" class="form-logout">
                    {% csrf_token %}
                    <button type="submit" class="form-logout-btn">Сваливаем ({{ user.username }})</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Въехать</a>
                <a href="{% url 'register' %}">Быть частью</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block content %} 
        {% endblock %}
    </main>

    
</body>
</html>